@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// General
body {
  @apply bg-blue;
}

.box {
  @apply border-black border-2 bg-white;
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Buttons
.btn-pair {
  @apply flex justify-center space-x-4;
}

.btn {
  @apply border-black border-2 rounded-lg bg-white p-2 min-w-28 text-center capitalize cursor-pointer;

  &:disabled {
    @apply cursor-default border-gray text-gray;
  }
}

// Players
.player-row {
  @apply flex justify-between items-center max-w-96 mx-auto;

  &--disabled {
    .player-name {
      @apply border-gray text-gray;
    }

    .player-controls {
      @apply border-gray bg-gray;
    }

    .player-hand {
      outline: none !important;
    }

    .player-hand-best {
      @apply text-gray;
    }

    .card {
      @apply border-gray text-gray;
    }
  }

  &--out {
    .player-name {
      @apply border-red text-red;
    }

    .player-controls {
      @apply border-red bg-red;
    }

    .player-hand {
      outline: none !important;
    }

    .player-hand-best {
      @apply text-red;
    }

    .card {
      @apply border-red text-red;
    }
  }
}

.player {
  @apply relative h-20 w-20 rounded-full;
}

.player-name {
  @apply h-full w-full rounded-full border-black border-2 bg-white flex items-center justify-center;
}

.player-controls {
  @apply h-9 w-9 rounded-full border-black border-2 bg-black text-white text-xs flex items-center justify-center absolute;

  &--show-cards {
    @apply top-[-12px] left-[-12px];
  }

  &--money {
    @apply top-[-12px] right-[-12px];

    &.bet {
      animation: fadeOut 0.6s ease-in-out 0.6s forwards;

      &--win {
        @apply bg-green border-green;
      }

      &--lose {
        @apply bg-red border-red;
      }
    }
  }

  &--role {
    @apply bottom-[4px] right-[4px] h-5 w-5;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.player-hand {
  @apply outline rounded-lg;

  &--veryGood {
    @apply outline-blue;
  }
  &--good {
    @apply outline-green;
  }
  &--medium {
    @apply outline-yellow;
  }
  &--bad {
    @apply outline-red;
  }
}

// Cards
.card {
  @apply border-black border-2 bg-white h-20 w-14 rounded-lg flex items-center justify-center;

  &--sm {
    @apply h-16 w-10 text-sm;
  }

  &--horizontal {
    @apply w-20 h-14;

    &.card--sm {
      @apply h-10 w-16;
    }
  }

  &--square {
    @apply w-6 h-6 rounded text-sm;
  }

  &--red {
    @apply text-red;
  }

  &--empty {
    @apply border-dashed;
  }
}

// Modals
.modal {
  @apply fixed top-0 bottom-0 left-0 right-0 z-20 flex items-end justify-center;

  background: rgba(0, 0, 0, 0.5);

  .modal-content {
    @apply bg-white m-5 w-full max-w-96;
  }

  .modal-body {
    @apply p-5;
  }

  .modal-btns {
    @apply pt-5 space-x-2 flex items-center justify-center;
  }
}

// Inputs
.input {
  @apply flex flex-col;

  label {
    @apply mb-1;
  }

  select,
  input {
    @apply border-black border-2 bg-white px-1 py-2 cursor-pointer;
  }

  &.input-currency {
    @apply relative;

    input {
      @apply pl-5;
    }

    .currency-symbol {
      @apply pl-2 py-2.5 absolute bottom-0 pointer-events-none;
    }
  }
}
